.card {
  text-align: center;

  
}

.btn {
    border: solid black 0.1rem;
    padding: .3rem;
    cursor: pointer;
    border-radius: 1rem;
    margin-top: 1rem;
  }


.item_img {
    height: 250px;
    width: 250px;
    display: inline-block;
    }



